
@font-face {
  font-family: 'suecaslab';
  src: url('../src/font/suecaslab-medium.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'suecaslab-bold';
  src: url('../src/font/suecaslab-bold.woff2') format('woff2');
  font-weight: 400;
}

.layout2 .layoutDos__lead  {
  font-family: 'suecaslab-bold';
}

.layout1 .layoutUno__lead,
.main__title{
  font-family: 'suecaslab-bold';
}

.layout .text__card{
  font-family: 'suecaslab-bold';
}

@media (min-width: 768px) {
  .layout2 .layoutDos__lead {
    font-family: 'suecaslab';
  }
}

