html,
body,
#root,
.app-container {
  height: 100vh;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'suecaslab';
  src: url('../src/font/suecaslab-medium.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'suecaslab-bold';
  src: url('../src/font/suecaslab-bold.woff2') format('woff2');
  font-weight: 400;
}

:root {
  --font-suecaslab-bold: 'suecaslab-bold';
  --font-suecaslab: 'suecaslab';
}

.layout2 .layoutDos__lead,
.layout1 .layoutUno__lead,
.main__title,
.layout .text__card,
.layout3 .layoutTres__lead,
.layout4 .layoutCuatro__lead,
.anexo .anexo__lead {
  font-family: var(--font-suecaslab-bold);
}

@media (min-width: 768px) {

  .layout2 .layoutDos__lead,
  .layout3 .layoutTres__lead {
    font-family: var(--font-suecaslab);
  }
}